/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  position: relative;
  height: 100%; }

.c-menu {
  height: 75px;
  width: 100%;
  background: #FFFFFF;
  background: #21335E;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .c-menu .main-icon-container {
    height: auto;
    width: 120px;
    margin: 12.5px; }
    .c-menu .main-icon-container .icon-wrapper {
      display: block;
      width: 100%; }
      .c-menu .main-icon-container .icon-wrapper .yorn-icon {
        width: 100%; }
  .c-menu .menu-nav {
    width: 100%;
    margin: 0 30px;
    text-align: center; }
    .c-menu .menu-nav .list-item {
      font-size: 0;
      margin: 25.5px 50px 25.5px 100px;
      display: inline-block;
      text-align: center; }
      .c-menu .menu-nav .list-item .list-item-text {
        font-size: 24px;
        font-family: "Permanent Marker", cursive;
        color: #ce0037;
        text-decoration: none; }

.c-card {
  max-width: 100vw;
  width: 100%;
  display: block;
  border: 2px solid black; }
  .c-card .card-principal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #FFFFFF;
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid black; }
    .c-card .card-principal .art-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 500px;
      width: 600px;
      margin: 5px;
      background: #21335E;
      position: relative; }
      .c-card .card-principal .art-container .card-titles {
        font-family: "Permanent Marker", cursive;
        color: #ce0037;
        font-size: 30px;
        position: absolute;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        left: -15%;
        top: 10%; }
