@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  position: relative;
  height: 100%; }

#wrapper {
  height: 100%; }

.c-menu {
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase; }
  .c-menu .main-icon-container {
    width: 120px;
    margin: 12.5px; }
    .c-menu .main-icon-container .icon-wrapper {
      display: block;
      width: 100%; }
      .c-menu .main-icon-container .icon-wrapper .yorn-icon {
        width: 85%; }
  .c-menu .menu-nav {
    margin: 0 auto; }
    @media (min-width: 0) and (max-width: 1046px) {
      .c-menu .menu-nav {
        display: none; } }
    .c-menu .menu-nav .menu-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
      margin: 0 auto;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .c-menu .menu-nav .menu-list .list-item {
        margin: 25.5px 15px; }
        .c-menu .menu-nav .menu-list .list-item:nth-of-type(5) {
          margin: 25.5px 50px 25.5px 15px; }
        .c-menu .menu-nav .menu-list .list-item .list-item-text {
          font-size: 18px;
          font-weight: bolder;
          color: #FFFFFF;
          text-decoration: none;
          opacity: 0.8; }
      .c-menu .menu-nav .menu-list .social-icon {
        margin: 0 8px; }
        .c-menu .menu-nav .menu-list .social-icon .social-image {
          width: 100%; }
  .c-menu .ask-card {
    width: 140px;
    background: #21335E; }
    @media (min-width: 0) and (max-width: 1046px) {
      .c-menu .ask-card {
        margin-left: 30px;
        width: 110px; } }
    .c-menu .ask-card .cta-ask-card {
      text-decoration: none;
      color: #ffffff;
      padding: 14px 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .c-menu .ask-card .cta-ask-card .ask {
        padding-left: 5px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        height: 50px; }
        .c-menu .ask-card .cta-ask-card .ask p {
          text-align: center;
          -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
          font-style: italic;
          font-weight: bolder;
          text-transform: uppercase;
          line-height: 17px;
          color: #ffffff;
          font-size: 12px;
          margin-right: 10px; }
          @media (min-width: 0) and (max-width: 1046px) {
            .c-menu .ask-card .cta-ask-card .ask p {
              -ms-flex-preferred-size: 100%;
              flex-basis: 100%;
              font-size: 16px;
              content: 'Adere já'; } }
        .c-menu .ask-card .cta-ask-card .ask .card-image {
          float: left; }
          @media (min-width: 0) and (max-width: 1046px) {
            .c-menu .ask-card .cta-ask-card .ask .card-image {
              display: none; } }

.c-hero-first {
  height: 100vh;
  text-align: center;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  width: 100%; }
  .c-hero-first .banner-image {
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
    @media (min-width: 0) and (max-width: 778px) {
      .c-hero-first .banner-image {
        max-width: 100vw; } }
  .c-hero-first .hero-network {
    position: relative; }
    .c-hero-first .hero-network .rd-title {
      width: 40%;
      margin: 0 auto;
      position: relative; }
      @media (min-width: 0) and (max-width: 1024px) {
        .c-hero-first .hero-network .rd-title {
          width: 100%; } }
      .c-hero-first .hero-network .rd-title .rd-image {
        width: 100%; }
      .c-hero-first .hero-network .rd-title .title-text {
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-size: 22px;
        color: #FFFFFF;
        font-style: italic;
        font-weight: bolder;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
        @media (min-width: 0) and (max-width: 778px) {
          .c-hero-first .hero-network .rd-title .title-text {
            font-size: 14px; } }
    .c-hero-first .hero-network .fastnet {
      width: auto; }
      @media (min-width: 0) and (max-width: 778px) {
        .c-hero-first .hero-network .fastnet {
          width: 80%;
          margin: 30px auto; } }
      .c-hero-first .hero-network .fastnet .net-image {
        width: auto; }
        @media (min-width: 0) and (max-width: 1024px) {
          .c-hero-first .hero-network .fastnet .net-image {
            width: 100%; } }
    .c-hero-first .hero-network .explanation {
      margin-top: 22px;
      -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
      text-align: center;
      font-family: "Open Sans", sans-serif;
      color: #FFFFFF;
      font-weight: bolder; }
      .c-hero-first .hero-network .explanation h3 {
        font-size: 26px;
        margin-bottom: 40px; }
        @media (min-width: 0) and (max-width: 778px) {
          .c-hero-first .hero-network .explanation h3 {
            font-size: 14px; } }
      .c-hero-first .hero-network .explanation p {
        width: 50%;
        text-transform: initial;
        margin: 0 auto;
        font-size: 18px; }
        @media (min-width: 0) and (max-width: 778px) {
          .c-hero-first .hero-network .explanation p {
            font-size: 12px;
            max-width: 80%;
            width: 80%; } }
        .c-hero-first .hero-network .explanation p:nth-of-type(2) {
          font-weight: normal;
          margin-top: 30px; }
      .c-hero-first .hero-network .explanation .button {
        display: inline-block;
        margin-top: 40px;
        padding: 15px 40px 13px 40px;
        text-decoration: none;
        background: #ce0037;
        -webkit-transform: skew(-30deg);
        -ms-transform: skew(-30deg);
        transform: skew(-30deg);
        color: #FFFFFF; }
        @media (min-width: 0) and (max-width: 778px) {
          .c-hero-first .hero-network .explanation .button {
            margin-top: 20px; } }

.streaming {
  position: relative;
  text-align: center;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  height: 100%; }
  .streaming .banner-image-editted {
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-filter: drop-shadow(8px 8px 10px gray);
    filter: drop-shadow(8px 8px 10px gray); }
    @media (min-width: 0) and (max-width: 778px) {
      .streaming .banner-image-editted {
        width: auto;
        max-width: 100vw; } }
  .streaming .hero-network {
    position: relative; }
    .streaming .hero-network .rd-title {
      width: 25%;
      margin: 0 auto; }
      @media (min-width: 0) and (max-width: 1024px) {
        .streaming .hero-network .rd-title {
          width: 100%; } }
      .streaming .hero-network .rd-title .rd-image {
        width: 100%; }
        @media (min-width: 0) and (max-width: 778px) {
          .streaming .hero-network .rd-title .rd-image {
            width: 60%; } }
      .streaming .hero-network .rd-title .title-text {
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-size: 22px;
        color: #ce0037;
        font-style: italic;
        font-weight: bolder;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
        @media (min-width: 0) and (max-width: 778px) {
          .streaming .hero-network .rd-title .title-text {
            font-size: 14px; } }
  .streaming .split-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
    margin-top: 50px;
    width: auto; }
    @media (min-width: 0) and (max-width: 778px) {
      .streaming .split-container {
        display: block;
        width: 100%;
        margin: 0 auto; } }
    .streaming .split-container .wrapper-image {
      display: inline-block; }
      @media (min-width: 0) and (max-width: 768px) {
        .streaming .split-container .wrapper-image {
          width: 90%; } }
      .streaming .split-container .wrapper-image .atention {
        width: 90%; }
    .streaming .split-container .advantages {
      display: inline-block; }
      @media (min-width: 0) and (max-width: 778px) {
        .streaming .split-container .advantages {
          display: block;
          width: 100%;
          margin: 0 auto; } }
      .streaming .split-container .advantages .advantages-list {
        margin: 0 auto;
        width: 100%; }
        .streaming .split-container .advantages .advantages-list .advantages-item {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: 60%;
          font-size: 26px;
          font-family: "Open Sans", sans-serif;
          text-align: left;
          color: #FFFFFF;
          font-weight: 900;
          margin: 30px;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          @media (min-width: 0) and (max-width: 778px) {
            .streaming .split-container .advantages .advantages-list .advantages-item {
              font-size: 12px;
              max-width: 80%;
              width: 80%;
              margin: 2px; } }
          .streaming .split-container .advantages .advantages-list .advantages-item span {
            margin-left: 15px; }
          @media (min-width: 0) and (max-width: 778px) {
            .streaming .split-container .advantages .advantages-list .advantages-item .till {
              width: 10%;
              margin: 2px;
              text-align: center; } }

.explanation {
  margin-top: 22px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  font-weight: bolder; }
  .explanation p {
    width: 60%;
    text-transform: initial;
    margin: 0 auto;
    font-size: 18px; }
    @media (min-width: 0) and (max-width: 778px) {
      .explanation p {
        font-size: 12px;
        width: 80%; } }
    .explanation p:nth-of-type(1) {
      font-weight: bolder;
      font-size: 22px;
      margin-bottom: 25px; }
      @media (min-width: 0) and (max-width: 778px) {
        .explanation p:nth-of-type(1) {
          font-size: 12px;
          width: 90%; } }
    .explanation p:nth-child(2) {
      width: 30%; }
      @media (min-width: 0) and (max-width: 778px) {
        .explanation p:nth-child(2) {
          font-size: 12px;
          width: 100%;
          font-weight: normal; } }
  .explanation .button {
    display: inline-block;
    margin-top: 40px;
    padding: 15px 40px 13px 40px;
    text-decoration: none;
    background: #FFFFFF;
    -webkit-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    transform: skew(-30deg);
    color: #ce0037; }
    @media (min-width: 0) and (max-width: 778px) {
      .explanation .button {
        margin-top: 20px; } }
