/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  position: relative;
  height: 100%; }

.c-menu {
  height: 70px;
  width: 100%;
  background: #FFFFFF;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid black; }
  .c-menu .main-icon-container {
    height: auto;
    width: 120px;
    margin: 12.5px; }
    .c-menu .main-icon-container .icon-wrapper {
      display: block;
      width: 100%; }
      .c-menu .main-icon-container .icon-wrapper .yorn-icon {
        width: 100%; }
  .c-menu .burguer-menu {
    display: none; }
    @media (min-width: 0) and (max-width: 1024px) {
      .c-menu .burguer-menu {
        display: inline-block;
        float: right;
        height: 42px;
        width: 50px;
        margin: 14px 20px;
        cursor: pointer;
        -webkit-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out; }
        .c-menu .burguer-menu--dash:nth-child(1) {
          top: 7px;
          position: relative; }
        .c-menu .burguer-menu--dash:nth-child(2) {
          top: 14px;
          position: relative; }
        .c-menu .burguer-menu--dash:nth-child(3) {
          top: 21px;
          position: relative; }
        .c-menu .burguer-menu--dash {
          height: 4px;
          border-radius: 20px;
          width: 100%;
          display: block;
          background: #ce0037;
          -webkit-transition: 0.25s ease-in-out;
          -o-transition: 0.25s ease-in-out;
          transition: 0.25s ease-in-out;
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
          opacity: 1;
          left: 0;
          transform: rotate(0deg);
          transition: 0.25s ease-in-out; }
        .open .c-menu .burguer-menu--dash:nth-child(1) {
          top: 24px;
          -webkit-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
          transform: rotate(135deg); }
        .open .c-menu .burguer-menu--dash:nth-child(2) {
          left: -30px;
          opacity: 0; }
        .open .c-menu .burguer-menu--dash:nth-child(3) {
          top: 20px;
          -webkit-transform: rotate(-135deg);
          -ms-transform: rotate(-135deg);
          transform: rotate(-135deg); } }
  .c-menu .menu-nav {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (min-width: 0) and (max-width: 1024px) {
      .c-menu .menu-nav {
        display: none; } }
    .c-menu .menu-nav .menu-list {
      display: inline-block; }
      .c-menu .menu-nav .menu-list .list-item {
        font-size: 0;
        margin: 25.5px 50px;
        display: inline-block;
        text-align: center; }
        .c-menu .menu-nav .menu-list .list-item .social-icon-container {
          display: inline-block;
          float: none; }
          .c-menu .menu-nav .menu-list .list-item .social-icon-container .social-icon {
            width: 100%; }
        .c-menu .menu-nav .menu-list .list-item .list-item-text {
          font-size: 24px;
          font-family: "Permanent Marker", cursive;
          color: #ce0037;
          text-decoration: none; }

.c-card {
  max-width: 100vw;
  width: 100%;
  display: block; }
  .c-card .card-principal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #FFFFFF;
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 0 auto;
    border-bottom: 1px solid black; }
    .c-card .card-principal .art-container {
      display: block;
      height: 500px;
      width: 600px;
      margin: 20px;
      background: #ce0037;
      position: relative;
      border-radius: 15px; }
      .c-card .card-principal .art-container .art-img {
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
        height: 500px;
        border-radius: 15px; }
      .c-card .card-principal .art-container .card-titles {
        font-family: "Permanent Marker", cursive;
        color: #ce0037;
        font-size: 30px;
        position: absolute;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        left: -15%;
        top: 10%; }
      .c-card .card-principal .art-container .art-titles {
        width: 100%;
        margin: 0 auto;
        display: block;
        padding: 10px; }
        .c-card .card-principal .art-container .art-titles .card-inside-title {
          padding: 10px;
          text-align: center;
          font-family: "Permanent Marker", cursive;
          color: #FFFFFF;
          font-size: 40px;
          margin: 0 auto; }
      .c-card .card-principal .art-container .card-text-container {
        width: 100%;
        height: auto;
        padding: 20px; }
      .c-card .card-principal .art-container .card-text {
        line-height: 1.6;
        padding: 10px;
        width: 100%;
        display: block;
        text-align: center;
        font-family: "Permanent Marker", cursive;
        color: #FFFFFF;
        font-size: 20px;
        margin: 0 auto; }
        .c-card .card-principal .art-container .card-text:nth-of-type(2) {
          font-size: 40px; }
