.c-card {
    max-width: 100vw;
    width: 100%;
    display: block;
    border: 2px solid black;
    .card-principal {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $primarycolor;
        width: 100%;
        height: auto;
        padding: 20px;
        margin: 0 auto;
        border: 1px solid black;
        .art-container {
            display: flex;
            height: 500px;
            width: 600px;
            margin: 5px;
            background: $backcolor;
            position: relative;
            .card-titles {
                font-family: $secondaryfont;
                color: $secondarycolor;
                font-size: 30px;
                position: absolute;
                transform: rotate(-90deg);
                left: -15%;
                top: 10%;
                

            }
            
            
        }
    }

    


}
