.streaming {
    position: relative;
    text-align: center;
    margin: 0 auto;
    font-family: $primaryfont;
    text-transform: uppercase;
    height: 100%;
    .banner-image-editted {
        position: absolute;
        z-index: -1;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        //filter:  sepia(9%) saturate(600%)  contrast(50%) ;
        filter:drop-shadow(8px 8px 10px gray);
        @include mq (0,778px) {
            width: auto;
            max-width: 100vw;
        }
    }
    .hero-network {
        position: relative;
        .rd-title {
            width: 25%;
            margin: 0 auto;
            @include mq (0,1024px) {
                width: 100%;
            }
            .rd-image {
                width: 100%;
                @include mq (0,778px) {
                    width: 60%;
                }
            }
            .title-text {
                text-align: center;
                font-family: $primaryfont;
                font-size: 22px;
                color: $secondarycolor;
                font-style: italic;
                font-weight: bolder;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                @include mq (0,778px) {
                    font-size: 14px;
                     
                 }
                    
            }
            
        }
    }
    .split-container {
        display:flex;
        justify-content: center;
        align-items: center;
        height: auto;
        margin-top: 50px;
        width: auto;
        @include mq (0,778px) {
            display: block;
            width: 100%;
            margin: 0 auto;

        }
        .wrapper-image {
            display: inline-block;
            @include mq (0, 768px) {
                width: 90%;
            }
            .atention {
                width: 90%;
            }
            
        }
        .advantages {
            display: inline-block;
            @include mq (0,778px) {
                display: block;
                width: 100%;
                margin: 0 auto;
    
            }
            .advantages-list {
                margin: 0 auto;
                width: 100%;
                .advantages-item {
                    display: flex;
                    width: 60%;
                    font-size: 26px;
                    font-family: $primaryfont;
                    text-align: left;
                    color: $primarycolor;
                    font-weight: 900;
                    margin: 30px;
                    align-items: center;
                    @include mq (0,778px) {
                        font-size: 12px;
                        max-width: 80%;
                        width: 80%;
                        margin: 2px;
                         
                    }
                    span {
                        margin-left: 15px;
                    }
                    .till {
                        @include mq (0,778px) {
                            width: 10%;
                            margin: 2px;
                            text-align: center;
                        }
                    }
                }
            }
        }
        
    }
}  