.streaming {
    position: relative;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
    font-family: $primaryfont;
    text-transform: uppercase;
    .banner-image-editted {
        position: absolute;
        z-index: -1;
        left: 0px;
        top: 0px;
        width: 100%;
        object-fit: cover;
        filter:  sepia(9%) saturate(600%)  contrast(50%) ;
        @include mq (0,778px) {
            width: auto;
        }
    }
    .hero-network {
        top: 70px;
        position: relative;
        .rd-title {
            width: 25%;
            margin: 0 auto;
            @include mq (0,1024px) {
                width: 100%;
            }
            .rd-image {
                width: 100%;
            }
            .title-text {
                text-align: center;
                font-family: $primaryfont;
                font-size: 22px;
                color: $secondarycolor;
                font-style: italic;
                font-weight: bolder;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                    
            }
            
        }
    }
    .split-container {
        display:block;
        height: auto;
        margin-top: 50px;
        .wrapper-image {
            display: inline-block;
            .atention {
                width: 90%;
            }
            
        }
        .advantages {
            display: inline-block;
            .advantages-list {
                margin: 0 auto;
                width: 100%;
                .advantages-item {
                    display: flex;
                    width: 60%;
                    font-size: 26px;
                    font-family: $primaryfont;
                    text-align: left;
                    color: $primarycolor;
                    font-weight: 900;
                    margin: 30px;
                    align-items: center;
                    span {
                        margin-left: 15px;
                    }
                }
            }
        }
        .explanation {
            margin-top: 22px;
            text-align: center;
            font-family: $primaryfont;
            color: $primarycolor;
            font-weight: bolder;
            p {
                width: 60%;
                text-transform: initial;
                margin: 0 auto;
                font-size: 18px;
                @include mq (0,778px) {
                    font-size: 12px;
                    max-width: 80%;
                    width: 80%;
                     
                 }
                &:nth-of-type(1) {
                    font-weight: bolder;
                    font-size: 22px;
                    margin-bottom: 25px;
                }
                &:nth-child(2) {
                    width: 30%;
                }
            }
            .button {
                display:inline-block;
                margin-top: 40px;
                padding: 15px 40px 13px 40px;
                text-decoration: none;
                background: $primarycolor;
                transform: skew(-30deg);
                color: $secondarycolor;
                @include mq (0,778px) {
                    margin-top: 20px;
                     
                }
                
            }
        }
    }
}  