.c-menu {
    height: 75px;
    width: 100%;
    background: $primarycolor;
    background: #21335E;
    position: relative;
    display: flex;
    .main-icon-container {
        height: auto;
        width: 120px;
        margin: 12.5px;
        .icon-wrapper {
            display: block;
            width: 100%;
            .yorn-icon {
                width: 100%;
            }
        }
    }
    .menu-nav {
        width: 100%;
        margin: 0 30px;
        text-align: center;
        .list-item {
            font-size: 0;
            margin: 25.5px 50px 25.5px 100px;
            display: inline-block;
            text-align: center;
            .list-item-text {
                font-size: 24px;
                font-family: $secondaryfont;
                color: $secondarycolor;
                text-decoration: none;
            }
        }

    }
}