<header class="c-menu">
    <div class="main-icon-container">
        <a href="main.html" class="icon-wrapper">
            <img src="images/logo_yorn.png" alt="main icon" class="yorn-icon">
        </a>
    </div>
    <nav class="menu-nav">
        <ul class="menu-list">
            <li class="list-item"><a href="#" class="list-item-text">Test</a></li>
            <li class="list-item"><a href="#" class="list-item-text">Test</a></li>
            <li class="list-item"><a href="#" class="list-item-text">Test</a></li>
            <li class="list-item"><a href="#" class="list-item-text">Test</a></li>
        </ul>
    </nav>
</header>